@font-face {
  font-family: Roboto;
  font-display: swap;
  src: url(../fonts/Roboto-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #292a2d;
  line-height: 1;
  font-family: Roboto;
  font-size: .875rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Roboto;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: rgba(0,0,0,0)
}
input,
textarea {
  width: 100%
}
label {
  display: inline-block
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper>main {
  flex: 1 1 auto
}
.wrapper>* {
  min-width: 0
}
[class*=__container] {
  max-width: 67.5rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: .9375rem 1fr minmax(auto,65.625rem) 1fr .9375rem
}
[class*="--gc"]>* {
  min-width: 0;
  grid-column: 3/4
}
.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: .875rem 1.625rem;
  background-color: #292a2d;
  color: #eeece3;
  letter-spacing: .03125rem;
  border-radius: 1.25rem;
  transition: background-color ease .3s,color ease .3s
}
.button-db {
  background-color: #004250
}
.button-t {
  background-color: rgba(0,0,0,0);
  color: #292a2d
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.block__header-title {
  text-transform: uppercase;
  color: #73726c;
  letter-spacing: .008125rem;
  line-height: 1.1
}
.block__header-title:not(:last-child) {
  margin-bottom: .625rem
}
.block__header-text {
  max-width: 22.5rem
}
.block__header-text:not(:last-child) {
  margin-bottom: 1.5625rem
}
.block__header-text p {
  line-height: 1.2;
  letter-spacing: .058125rem
}
.block__header-buttons {
  display: flex;
  gap: .625rem
}
.financing__demonstration,
.management__demonstration,
.planning__demonstration {
  max-width: 29.0625rem;
  max-height: 30.3125rem
}
.financing__demonstration img,
.management__demonstration img,
.planning__demonstration img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.financing__container,
.management__container,
.planning__container {
  display: flex;
  align-items: center;
  gap: 1.25rem;
  justify-content: space-between
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color .5s
}
.header._header-scroll {
  background-color: rgba(0,66,80,.5)
}
.header__container {
  display: flex;
  justify-content: space-between;
  gap: .9375rem;
  transition: all .8s;
  align-items: center;
  padding-top: .625rem;
  padding-bottom: .625rem
}
.header__wrapper {
  display: flex;
  align-items: center;
  justify-content: center
}
.header__logo {
  width: 3.75rem;
  height: 1.875rem
}
.header__logo img {
  width: 100%;
  height: 100%
}
.header__action {
  display: flex;
  gap: .625rem
}
.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: .3125rem
}
.menu__link {
  transition: -webkit-transform ease .3s;
  transition: transform ease .3s;
  transition: transform ease .3s,-webkit-transform ease .3s
}
.icon-menu {
  display: none
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem
}
.footer__navigation {
  display: flex;
  flex-wrap: wrap
}
.footer__navigation-title {
  color: #004250;
  line-height: 1.1;
  text-transform: uppercase
}
.footer__navigation-items {
  display: flex;
  flex-direction: column;
  gap: .9375rem
}
.footer__navigation-item a {
  line-height: 1.1;
  font-size: .75rem
}
.footer__social {
  display: flex;
  flex-direction: column;
  gap: .9375rem
}
.footer__social-items {
  display: flex;
  gap: .9375rem
}
.footer__social-item {
  padding: 5;
  transition: -webkit-transform ease .3s;
  transition: transform ease .3s;
  transition: transform ease .3s,-webkit-transform ease .3s
}
.footer__privacy-items:not(:last-child) {
  margin-bottom: .9375rem
}
.footer__privacy-items a {
  font-size: .75rem;
  color: #adb2b7
}
.footer__bg {
  margin-top: -6.25rem;
  max-width: 65.625rem;
  max-height: 30rem;
  z-index: -2;
  opacity: .8
}
.footer__bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.footer__block-text p {
  color: #b5b6b3;
  line-height: 1.2
}
.spollers__title:not(:last-child) {
  margin-bottom: .9375rem
}
summary::marker {
  color: #004250
}
.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center
}
.hero__container {
  position: relative;
  z-index: 10;
  padding-top: 6.25rem;
  padding-bottom: 3.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%
}
.hero__container::after {
  content: "";
  position: absolute;
  bottom: 3.0625rem;
  left: 0;
  width: 100%;
  height: .0625rem;
  background-color: rgba(91,102,111,.251)
}
.hero__content-title {
  letter-spacing: -.103125rem
}
.hero__content-title:not(:last-child) {
  margin-bottom: .3125rem
}
.hero__content-subtitle {
  letter-spacing: .103125rem;
  line-height: 1.2
}
.hero__content-text {
  max-width: 20.9375rem
}
.hero__content-text:not(:last-child) {
  margin-bottom: 1.25rem
}
.hero__content-text p {
  line-height: 1.4
}
.hero__image {
  max-width: 30.3125rem;
  max-height: 28.75rem
}
.hero__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.startup__note {
  font-size: .75rem;
  line-height: 1.2;
  max-width: 8.75rem;
  color: #73726c
}
.startup__note:not(:last-child) {
  margin-bottom: .3125rem
}
.startup__content {
  display: flex;
  flex-direction: column;
  align-items: center
}
.startup__content-title {
  letter-spacing: .084375rem;
  line-height: 1.2
}
.startup__content-title:not(:last-child) {
  margin-bottom: 1.25rem
}
.startup__content-text {
  max-width: 31.25rem
}
.startup__content-text p {
  font-size: 1rem;
  line-height: 1.2;
  letter-spacing: .009375rem;
  text-align: center
}
.startup__item {
  border: .0625rem solid rgba(41,42,45,.149);
  padding: 1.125rem .625rem .3125rem 1.625rem;
  max-width: 29.375rem
}
.startup__item:not(:last-child) {
  margin-bottom: 1.25rem
}
.startup__item-text:not(:last-child) {
  margin-bottom: 1.25rem
}
.startup__item-text p {
  letter-spacing: .009375rem;
  line-height: 1.3;
  color: #004250
}
.startup__item-links {
  display: flex;
  justify-content: space-between
}
.startup__item-link {
  display: flex;
  gap: .9375rem
}
.startup__item-link a {
  font-size: .75rem;
  line-height: 1.1;
  letter-spacing: .009375rem;
  color: #004250
}
.startup__item-note {
  text-align: center;
  color: #73726c;
  text-transform: uppercase;
  font-size: .625rem
}
.startup__image {
  margin: 0 auto;
  max-width: 62.5rem
}
.startup__image img {
  width: 100%;
  max-height: 46.875rem;
  -o-object-fit: cover;
  object-fit: cover
}
.startup__subtitle {
  letter-spacing: .084375rem;
  line-height: 1.2;
  text-align: center
}
.startup__subtitle:not(:last-child) {
  margin-bottom: 1.5625rem
}
.startup__dec {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 2.5rem;
  max-height: 2.5rem;
  border-radius: 100%;
  background-color: #fbfbf9
}
.startup__dec img {
  max-width: 2.5rem;
  max-height: 2.5rem;
  padding: .3125rem
}
.planning {
  background-color: #fbfbf6
}
.management {
  background-color: #fbfbf6
}
.benefits__container {
  display: flex;
  justify-content: space-between
}
.benefits__block-title {
  font-size: .75rem;
  line-height: 1.1;
  letter-spacing: .00625rem;
  text-transform: uppercase;
  color: #73726c
}
.benefits__block-title:not(:last-child) {
  margin-bottom: .625rem
}
.benefits__block-text {
  max-width: 18.125rem
}
.benefits__block-text p {
  line-height: 1.2;
  letter-spacing: .10625rem
}
.benefits__content-items {
  display: flex;
  flex-direction: column;
  gap: 1.25rem
}
.benefits__item-title {
  line-height: 1.1
}
.benefits__item-title:not(:last-child) {
  margin-bottom: .9375rem
}
.benefits__item-description {
  max-width: 23.4375rem
}
.benefits__item-description p {
  line-height: 1.2
}
.equity {
  background-color: #73726c
}
.equity__container {
  position: relative
}
.equity__wrapper {
  display: flex;
  justify-content: space-between
}
.equity__title {
  text-transform: uppercase;
  line-height: 1.1;
  color: #fff;
  letter-spacing: .009375rem
}
.equity__title:not(:last-child) {
  margin-bottom: 2.5rem
}
.equity__demonstration {
  max-width: 25rem;
  max-height: 15rem
}
.equity__demonstration img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.equity__slider {
  display: flex;
  flex-direction: column;
  max-width: 18.75rem
}
.equity__slide {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-end
}
.equity__slide-current {
  line-height: 1.1;
  letter-spacing: .2875rem
}
.equity__slide-text {
  line-height: 1.2;
  letter-spacing: .05rem
}
.equity__slider-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .625rem;
  padding-top: 1.875rem
}
.equity__slider-dots .swiper-pagination-bullet {
  transition: all .3s;
  width: .75rem;
  height: .25rem;
  background-color: rgba(238,236,227,.5);
  cursor: pointer
}
.equity__slider-dots .swiper-pagination-bullet-active {
  background-color: #eeece3;
  width: 1.875rem
}
.testimonials {
  background-color: #313236;
  color: #fff
}
.testimonials__title {
  line-height: 1.1;
  text-transform: uppercase;
  font-size: .75rem;
  text-align: center
}
.testimonials__title:not(:last-child) {
  margin-bottom: .625rem
}
.testimonials__subtitle {
  letter-spacing: .125rem;
  line-height: 1.2;
  text-align: center
}
.testimonials__items {
  display: flex;
  justify-content: space-between
}
.testimonials__item {
  border: .0625rem solid rgba(255,255,255,.2);
  border-radius: .625rem;
  padding: 1.5625rem;
  min-height: 21.25rem;
  max-width: 23.125rem;
  display: flex;
  flex-direction: column;
  height: 100%
}
.testimonials__item-text {
  letter-spacing: .015625rem;
  line-height: 1.2;
  flex: 1 1 auto
}
.testimonials__item-text:not(:last-child) {
  margin-bottom: .625rem
}
.testimonials__item-name {
  font-style: normal;
  font-size: .75rem;
  line-height: 1.1;
  letter-spacing: .009375rem
}
.testimonials__item-position {
  line-height: 1.1;
  padding-top: .3125rem;
  letter-spacing: .009375rem
}
.options__title {
  text-align: center;
  line-height: 1.1;
  letter-spacing: .0125rem
}
.options__items {
  display: flex;
  justify-content: space-between;
  gap: .625rem;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(15.625rem,1fr));
  justify-content: center
}
.options__item {
  width: 15.625rem;
  min-height: 22.8125rem;
  background-color: #004250;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1.25rem 1.5625rem 0 1.5625rem;
  border-radius: .3125rem;
  position: relative;
  align-items: center
}
.options__item-text {
  flex: 1 1 auto
}
.options__item-text p {
  color: #fff;
  letter-spacing: .0625rem;
  line-height: 1.2
}
.options__item-image {
  width: 15.625rem;
  height: 15.625rem
}
.options__item-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.options__item-button {
  position: absolute;
  bottom: 1.875rem;
  left: -1.25rem;
  z-index: 2;
  transition: -webkit-transform ease .3s;
  transition: transform ease .3s;
  transition: transform ease .3s,-webkit-transform ease .3s
}
.options__item-button::after {
  position: absolute;
  content: "";
  background: url(../img/icons/options/01.webp) center/cover no-repeat;
  width: 1.875rem;
  height: 1.875rem;
  right: -2.5rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%)
}
.options__item:nth-child(1) {
  background-color: #879ead
}
.options__item:nth-child(2) {
  background-color: #1a5866
}
.options__item:nth-child(3) {
  background-color: #776c62
}
.options__item:nth-child(4) {
  background-color: #99958e
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:47.99875em) {
  summary {
    list-style: none;
    -webkit-appearance: none
  }
}
@media (min-width:61.99875em) {
  .equity__title {
    position: absolute;
    right: 20%;
    -webkit-transform: translateY(-60px);
    transform: translateY(-60px)
  }
}
@media (min-width:67.5em) {
  .block__header-text p {
    font-size: 1.4375rem
  }
  .header__container {
    min-height: 6.25rem
  }
  ._header-scroll .header__container {
    min-height: 3.75rem
  }
  .header__wrapper {
    gap: 3.4375rem
  }
  .menu__list {
    -webkit-column-gap: 1.875rem;
    -moz-column-gap: 1.875rem;
    column-gap: 1.875rem
  }
  .footer {
    padding-top: 3.125rem
  }
  .footer {
    padding-bottom: 8.125rem
  }
  .footer__navigation {
    gap: 3.75rem
  }
  .footer__block-text {
    padding-top: 6.25rem
  }
  .hero__container {
    gap: 3.125rem
  }
  .hero__content-title {
    font-size: 2.625rem
  }
  .hero__content-subtitle {
    font-size: 2rem
  }
  .hero__content-subtitle:not(:last-child) {
    margin-bottom: 2.1875rem
  }
  .startup {
    padding-bottom: 4.0625rem
  }
  .startup__content-title {
    font-size: 1.625rem
  }
  .startup__item {
    border-radius: 1.875rem
  }
  .startup__image {
    padding-top: 4.0625rem
  }
  .startup__subtitle {
    padding-top: 5rem
  }
  .startup__subtitle {
    font-size: 1.625rem
  }
  .planning {
    padding-top: 8.125rem
  }
  .planning {
    padding-bottom: 8.125rem
  }
  .financing {
    padding-top: 8.125rem
  }
  .financing {
    padding-bottom: 8.125rem
  }
  .management {
    padding-top: 8.125rem
  }
  .management {
    padding-bottom: 8.125rem
  }
  .benefits {
    padding-top: 5rem
  }
  .benefits {
    padding-bottom: 8.125rem
  }
  .benefits__container {
    gap: 1.25rem
  }
  .benefits__block-text p {
    font-size: 2.25rem
  }
  .benefits__item-title {
    font-size: 1.25rem
  }
  .equity {
    padding-top: 8.125rem
  }
  .equity {
    padding-bottom: 3.125rem
  }
  .equity__wrapper {
    gap: 1.25rem
  }
  .equity__slide-current {
    font-size: 6.25rem
  }
  .equity__slide-current:not(:last-child) {
    margin-bottom: 3.125rem
  }
  .equity__slide-text {
    font-size: 1.125rem
  }
  .testimonials {
    padding-top: 8.125rem
  }
  .testimonials {
    padding-bottom: 8.125rem
  }
  .testimonials__subtitle {
    font-size: 2.5rem
  }
  .testimonials__items {
    gap: 1.875rem
  }
  .testimonials__items {
    padding-top: 5.3125rem
  }
  .testimonials__item-text {
    font-size: 1.375rem
  }
  .options {
    padding-top: 5rem
  }
  .options {
    padding-bottom: 3.125rem
  }
  .options__title {
    font-size: 1.25rem
  }
  .options__items {
    padding-top: 2.5rem
  }
  .options__item-text p {
    font-size: 1.25rem
  }
}
@media (max-width:800px) {
  .options__items {
    grid-template-columns: 1fr
  }
  .options__item {
    width: 100%
  }
  .options__item-button {
    left: .625rem
  }
}
@media (max-width:668px) {
  .financing__demonstration,
  .management__demonstration,
  .planning__demonstration {
    max-width: 100%;
    max-height: 100%
  }
  .financing__container,
  .management__container,
  .planning__container {
    flex-direction: column;
    align-items: normal;
    gap: 2.5rem
  }
}
@media (max-width:20em) {
  .block__header-text p {
    font-size: 1.125rem
  }
  .header__container {
    min-height: 3.75rem
  }
  ._header-scroll .header__container {
    min-height: 3.125rem
  }
  .header__wrapper {
    gap: .9375rem
  }
  .menu__list {
    -webkit-column-gap: .625rem;
    -moz-column-gap: .625rem;
    column-gap: .625rem
  }
  .footer {
    padding-top: 1.875rem
  }
  .footer {
    padding-bottom: 3.75rem
  }
  .footer__navigation {
    gap: .625rem
  }
  .footer__block-text {
    padding-top: 3.75rem
  }
  .hero__container {
    gap: 1.25rem
  }
  .hero__content-title {
    font-size: 2.125rem
  }
  .hero__content-subtitle {
    font-size: 1.5rem
  }
  .hero__content-subtitle:not(:last-child) {
    margin-bottom: 1.25rem
  }
  .startup {
    padding-bottom: 1.875rem
  }
  .startup__content-title {
    font-size: 1.375rem
  }
  .startup__item {
    border-radius: 1.25rem
  }
  .startup__image {
    padding-top: 1.875rem
  }
  .startup__subtitle {
    padding-top: 2.5rem
  }
  .startup__subtitle {
    font-size: 1.375rem
  }
  .planning {
    padding-top: 1.875rem
  }
  .planning {
    padding-bottom: 1.875rem
  }
  .financing {
    padding-top: 1.875rem
  }
  .financing {
    padding-bottom: 1.875rem
  }
  .management {
    padding-top: 1.875rem
  }
  .management {
    padding-bottom: 1.875rem
  }
  .benefits {
    padding-top: 1.875rem
  }
  .benefits {
    padding-bottom: 1.875rem
  }
  .benefits__container {
    gap: .625rem
  }
  .benefits__block-text p {
    font-size: 1.375rem
  }
  .benefits__item-title {
    font-size: 1.125rem
  }
  .equity {
    padding-top: 1.875rem
  }
  .equity {
    padding-bottom: 1.875rem
  }
  .equity__wrapper {
    gap: .625rem
  }
  .equity__slide-current {
    font-size: 3.75rem
  }
  .equity__slide-current:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .equity__slide-text {
    font-size: 1rem
  }
  .testimonials {
    padding-top: 1.875rem
  }
  .testimonials {
    padding-bottom: 1.875rem
  }
  .testimonials__subtitle {
    font-size: 1.375rem
  }
  .testimonials__items {
    gap: .625rem
  }
  .testimonials__items {
    padding-top: 2.5rem
  }
  .testimonials__item-text {
    font-size: 1.125rem
  }
  .options {
    padding-top: 1.875rem
  }
  .options {
    padding-bottom: 1.875rem
  }
  .options__title {
    font-size: 1.125rem
  }
  .options__items {
    padding-top: 1.875rem
  }
  .options__item-text p {
    font-size: 1rem
  }
}
@media (max-width:47.99875em) {
  .block__header-buttons {
    flex-direction: column
  }
  .header__container {
    gap: 0;
    grid-template-columns: auto 1fr auto auto
  }
  .header__action {
    justify-content: center
  }
  .header__action-btn {
    color: #eeece3
  }
  .menu__list {
    flex-direction: column;
    row-gap: 1.875rem
  }
  .menu__link {
    color: #eeece3;
    font-size: 1.125rem
  }
  .menu__body {
    display: grid;
    grid-template-rows: 1fr auto;
    gap: 1.875rem;
    position: fixed;
    width: 100%;
    height: 100%;
    left: -100%;
    top: 0;
    overflow: auto;
    background-color: #004250;
    transition: left .3s;
    padding: 6.25rem .9375rem 1.875rem .9375rem
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: -100%;
    z-index: 2;
    transition: left .3s;
    background-color: #004250
  }
  .menu-open .menu__body {
    left: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #292a2d
  }
  .menu-open .icon-menu span,
  .menu-open .icon-menu::after,
  .menu-open .icon-menu::before {
    background-color: #eeece3
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .footer__bg {
    margin-top: 0
  }
  .hero__container {
    padding-top: 3.125rem
  }
  .hero__container {
    flex-direction: column
  }
  .hero__content {
    width: 100%
  }
  .testimonials__items {
    flex-direction: column
  }
  .testimonials__item {
    max-width: 100%;
    min-height: 15.625rem
  }
}
@media (max-width:47.99875em)and (max-width:20em) {
  .menu__body::before {
    height: 3.75rem
  }
}
@media (max-width:47.99875em)and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:29.99875em) {
  .footer__navigation {
    flex-direction: column
  }
  .hero__content-button {
    max-width: 100%
  }
  .hero__content-button a {
    width: 100%
  }
  .startup__item {
    padding: .9375rem .5rem .3125rem .5rem
  }
  .startup__item-links {
    flex-direction: column;
    gap: .625rem
  }
  .startup__item-btn {
    width: 100%
  }
  .startup__item-note {
    padding-top: .625rem
  }
  .benefits__container {
    flex-direction: column;
    gap: 1.875rem
  }
  .benefits__item-description {
    max-width: 100%
  }
  .equity__wrapper {
    flex-direction: column;
    align-items: center;
    gap: 2.5rem
  }
  .equity__demonstration {
    max-width: 100%;
    max-height: 100%
  }
  .equity__slide {
    align-items: center
  }
}
@media (min-width:20em)and (max-width:67.5em) {
  .block__header-text p {
    font-size: clamp(1.125rem ,.9934210526rem + .6578947368vw ,1.4375rem)
  }
  .header__container {
    min-height: clamp(3.75rem ,2.6973684211rem + 5.2631578947vw ,6.25rem)
  }
  ._header-scroll .header__container {
    min-height: clamp(3.125rem ,2.8618421053rem + 1.3157894737vw ,3.75rem)
  }
  .header__wrapper {
    gap: clamp(.9375rem ,-.1151315789rem + 5.2631578947vw ,3.4375rem)
  }
  .menu__list {
    -webkit-column-gap: clamp(.625rem ,.0986842105rem + 2.6315789474vw ,1.875rem);
    -moz-column-gap: clamp(.625rem ,.0986842105rem + 2.6315789474vw ,1.875rem);
    column-gap: clamp(.625rem ,.0986842105rem + 2.6315789474vw ,1.875rem)
  }
  .footer {
    padding-top: clamp(1.875rem ,1.3486842105rem + 2.6315789474vw ,3.125rem)
  }
  .footer {
    padding-bottom: clamp(3.75rem ,1.9078947368rem + 9.2105263158vw ,8.125rem)
  }
  .footer__navigation {
    gap: clamp(.625rem ,-.6907894737rem + 6.5789473684vw ,3.75rem)
  }
  .footer__block-text {
    padding-top: clamp(3.75rem ,2.6973684211rem + 5.2631578947vw ,6.25rem)
  }
  .hero__container {
    gap: clamp(1.25rem ,.4605263158rem + 3.9473684211vw ,3.125rem)
  }
  .hero__content-title {
    font-size: clamp(2.125rem ,1.9144736842rem + 1.0526315789vw ,2.625rem)
  }
  .hero__content-subtitle {
    font-size: clamp(1.5rem ,1.2894736842rem + 1.0526315789vw ,2rem)
  }
  .hero__content-subtitle:not(:last-child) {
    margin-bottom: clamp(1.25rem ,.8552631579rem + 1.9736842105vw ,2.1875rem)
  }
  .startup {
    padding-bottom: clamp(1.875rem ,.9539473684rem + 4.6052631579vw ,4.0625rem)
  }
  .startup__content-title {
    font-size: clamp(1.375rem ,1.2697368421rem + .5263157895vw ,1.625rem)
  }
  .startup__item {
    border-radius: clamp(1.25rem ,.9868421053rem + 1.3157894737vw ,1.875rem)
  }
  .startup__image {
    padding-top: clamp(1.875rem ,.9539473684rem + 4.6052631579vw ,4.0625rem)
  }
  .startup__subtitle {
    padding-top: clamp(2.5rem ,1.4473684211rem + 5.2631578947vw ,5rem)
  }
  .startup__subtitle {
    font-size: clamp(1.375rem ,1.2697368421rem + .5263157895vw ,1.625rem)
  }
  .planning {
    padding-top: clamp(1.875rem ,-.7565789474rem + 13.1578947368vw ,8.125rem)
  }
  .planning {
    padding-bottom: clamp(1.875rem ,-.7565789474rem + 13.1578947368vw ,8.125rem)
  }
  .financing {
    padding-top: clamp(1.875rem ,-.7565789474rem + 13.1578947368vw ,8.125rem)
  }
  .financing {
    padding-bottom: clamp(1.875rem ,-.7565789474rem + 13.1578947368vw ,8.125rem)
  }
  .management {
    padding-top: clamp(1.875rem ,-.7565789474rem + 13.1578947368vw ,8.125rem)
  }
  .management {
    padding-bottom: clamp(1.875rem ,-.7565789474rem + 13.1578947368vw ,8.125rem)
  }
  .benefits {
    padding-top: clamp(1.875rem ,.5592105263rem + 6.5789473684vw ,5rem)
  }
  .benefits {
    padding-bottom: clamp(1.875rem ,-.7565789474rem + 13.1578947368vw ,8.125rem)
  }
  .benefits__container {
    gap: clamp(.625rem ,.3618421053rem + 1.3157894737vw ,1.25rem)
  }
  .benefits__block-text p {
    font-size: clamp(1.375rem ,1.0065789474rem + 1.8421052632vw ,2.25rem)
  }
  .benefits__item-title {
    font-size: clamp(1.125rem ,1.0723684211rem + .2631578947vw ,1.25rem)
  }
  .equity {
    padding-top: clamp(1.875rem ,-.7565789474rem + 13.1578947368vw ,8.125rem)
  }
  .equity {
    padding-bottom: clamp(1.875rem ,1.3486842105rem + 2.6315789474vw ,3.125rem)
  }
  .equity__wrapper {
    gap: clamp(.625rem ,.3618421053rem + 1.3157894737vw ,1.25rem)
  }
  .equity__slide-current {
    font-size: clamp(3.75rem ,2.6973684211rem + 5.2631578947vw ,6.25rem)
  }
  .equity__slide-current:not(:last-child) {
    margin-bottom: clamp(1.875rem ,1.3486842105rem + 2.6315789474vw ,3.125rem)
  }
  .equity__slide-text {
    font-size: clamp(1rem ,.9473684211rem + .2631578947vw ,1.125rem)
  }
  .testimonials {
    padding-top: clamp(1.875rem ,-.7565789474rem + 13.1578947368vw ,8.125rem)
  }
  .testimonials {
    padding-bottom: clamp(1.875rem ,-.7565789474rem + 13.1578947368vw ,8.125rem)
  }
  .testimonials__subtitle {
    font-size: clamp(1.375rem ,.9013157895rem + 2.3684210526vw ,2.5rem)
  }
  .testimonials__items {
    gap: clamp(.625rem ,.0986842105rem + 2.6315789474vw ,1.875rem)
  }
  .testimonials__items {
    padding-top: clamp(2.5rem ,1.3157894737rem + 5.9210526316vw ,5.3125rem)
  }
  .testimonials__item-text {
    font-size: clamp(1.125rem ,1.0197368421rem + .5263157895vw ,1.375rem)
  }
  .options {
    padding-top: clamp(1.875rem ,.5592105263rem + 6.5789473684vw ,5rem)
  }
  .options {
    padding-bottom: clamp(1.875rem ,1.3486842105rem + 2.6315789474vw ,3.125rem)
  }
  .options__title {
    font-size: clamp(1.125rem ,1.0723684211rem + .2631578947vw ,1.25rem)
  }
  .options__items {
    padding-top: clamp(1.875rem ,1.6118421053rem + 1.3157894737vw ,2.5rem)
  }
  .options__item-text p {
    font-size: clamp(1rem ,.8947368421rem + .5263157895vw ,1.25rem)
  }
}
@media (max-width:47.99875em)and (min-width:67.5em) {
  .menu__body::before {
    height: 6.25rem
  }
}
@media (max-width:47.99875em)and (min-width:20em)and (max-width:67.5em) {
  .menu__body::before {
    height: clamp(3.75rem ,2.6973684211rem + 5.2631578947vw ,6.25rem)
  }
}
@media (any-hover:hover) {
  .button:hover {
    background-color: #73726c
  }
  .button-t:hover {
    color: #eeece3
  }
  .menu__link:hover {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px)
  }
  .footer__navigation-title:hover {
    text-decoration: underline
  }
  .footer__navigation-item a:hover {
    text-decoration: underline
  }
  .footer__social-item:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3)
  }
  .footer__privacy-items a:hover {
    text-decoration: underline
  }
  .startup__item-link a:hover {
    text-decoration: underline
  }
  .options__item-button:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
  }
}